/* Color Theme Swatches in Hex */
.Abstract-marble-texture-background.-Colorful-backdrop-1-hex { color: #2D3E40; }
.Abstract-marble-texture-background.-Colorful-backdrop-2-hex { color: #387373; }
.Abstract-marble-texture-background.-Colorful-backdrop-3-hex { color: #93BFB7; }
.Abstract-marble-texture-background.-Colorful-backdrop-4-hex { color: #97A6A0; }
.Abstract-marble-texture-background.-Colorful-backdrop-5-hex { color: #E4F2E7; }

